{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <center><h2>Plataformas</h2></center>

    
        
        
        {% for entity in entities %}
           <div id="cate">
               <br>
                    <a href="{{ path('plataforma_show', { 'id': entity.id }) }}">{{ entity.nombrePlat }}</a>
               
                    
           </div>   
        {% endfor %}
        
<div id="edit">
        <ul>
        <li>
            <a href="{{ path('plataforma_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
</div>
    {% endblock %}
