{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <center><h1>Noticias</h1></center>

    
       
        {% for entity in entities %}
            
            <h3>
                <a href="{{ path('noticias_show', { 'id': entity.id }) }}">{{ entity.tituloNot }}</a>
            </h3>    
                
                <img src="{{ asset('bundles/unijuegos/imagenes/'~ entity.fotoNot  ~ '') }}" width=350px height=200px/>
            
        {% endfor %}
      

        <ul>
        <li>
            <a href="{{ path('noticias_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
