{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <h1>juegos list</h1>

    <table class="records_list">
        <thead>
           
        </thead>
        <tbody>
        {% for entity in entities %}
        <text align="center">
        <a href="{{ path('juegos_show', { 'id': entity.id }) }}"><img src="{{ asset('bundles/uniproyecto/imagenes/'~ entity.fotoJue  ~ '') }}" width=10% height=10%/></a>
        </text>
             
            
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('juegos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
