{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <center><h2>Juegos</h2></center>

    <div id="inicio">
        {% for entity in entities %}
        <text align="center">
        <a href="{{ path('juegos_show', { 'id': entity.id }) }}"><img src="{{ asset('bundles/unijuegos/imagenes/'~ entity.iconoJue  ~ '') }}" width=19% height=19%/></a>
        </text>
             
            
        {% endfor %}
    </div>  
<div id="edit">
        <ul>
        <li>
            <a href="{{ path('juegos_new') }}">
                Añadir nuevo juego
            </a>
        </li>
    </ul>
</div>
    {% endblock %}
