{% extends 'uniJuegosBundle::layout.html.twig' %}


{% block cuerpo -%}
    <center><h2>Juegos</h2></center>

    <table class="records_list">
        <thead>
           
        </thead>
        <tbody>
        {% for entity in entities %}
        <text align="center">
        <a href="{{ path('juegos_show', { 'id': entity.id }) }}"><img src="{{ asset('bundles/unijuegos/imagenes/'~ entity.iconoJue  ~ '') }}" width=250px height=250px/></a>
        </text>
             
            
        {% endfor %}
        </tbody>
    </table>
<div id="edit">
        <ul>
        <li>
            <a href="{{ path('juegos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
</div>
    {% endblock %}
